// Place all the styles related to the Stickies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.keep .thumbnail {
  background: #9F9
}
.problem .thumbnail {
  background: #FCF
}
.try .thumbnail {
  background: #FF9
}
