// Place all the styles related to the Stickies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.area-keep .sticky {
  background: #CF9
}
.area-problem .sticky {
  background: #FCF
}
.area-try .sticky {
  background: #FF9
}
